<div class="container mt-5 jumbotron" style="width: 60%;">
    <h4 style="text-align: left;">Perfil de usuario</h4>
    <h6>Aquí puede ver su información, y si desea, modificarla.</h6>
    <br>
    <form>
        <div class="form-row">

            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Nombre</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Ingrese su nombre" aria-label="Username"
                        aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col" style="padding-right: 10%;">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Apellido</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Ingrese su apellido" aria-label="Username"
                        aria-describedby="basic-addon1">
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Teléfono</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Ingrese su teléfono" aria-label="Username"
                        aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col" style="padding-right: 10%;">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Fecha de nacimiento</span>
                    </div>
                    <input type="date" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Contraseña</span>
                    </div>
                    <input type="password" class="form-control" placeholder="Ingrese su contraseña"
                        aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col" style="padding-right: 10%;">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Contraseña</span>
                    </div>
                    <input type="password" class="form-control" placeholder="Confirme su contraseña"
                        aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Calle</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Ingrese su calle" aria-label="Username"
                        aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col" style="padding-right: 10%;">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Número</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Ingrese número" aria-label="Username"
                        aria-describedby="basic-addon1">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Piso</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Ingrese Piso" aria-label="Username"
                        aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col" style="padding-right: 10%;">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Departamento</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Ingrese Departamento" aria-label="Username"
                        aria-describedby="basic-addon1">
                </div>
            </div>
        </div>
        <div class="form-row" style="padding-right: 10%;">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Ciudad</span>
                </div>
                <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Seleccionar</option>
                    <option value="1">Ciudad</option>
                    <option value="2">Las Heras</option>
                    <option value="3">Godoy Cruz</option>
                </select>
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Guardar cambios</button>
    </form>
</div>