<mat-sidenav-container>
    <mat-sidenav-content>

            <div class="container-btn-new">
                <mat-form-field class="busqueda">
                    <input matInput (keyup)="applyFilter($event)" placeholder="Buscar...">
                </mat-form-field>
                <div class="botonagregar">
                    <input type="date" id="fechaDesde" >&nbsp;&nbsp;
                     <input type="date" id="fechaHasta" >&nbsp;&nbsp;
                    <button mat-raised-button class="my-agregar" (click)="cargarPlatosPopulares()">Ver</button>
                </div>
            </div>
        
        <div class="tabla" class="mat-elevation-z8">
            <mat-table  [dataSource]="dataSource" matSort>

                <!-- Id Column -->
                <ng-container matColumnDef="id">
                    <mat-header-cell mat-sort-header *matHeaderCellDef> Id </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="pointer" >
                        {{element.id}} </mat-cell>
                </ng-container>

                <!-- Cantidad Vendida Column -->
                <ng-container matColumnDef="cantidadVendida">
                    <mat-header-cell mat-sort-header *matHeaderCellDef> Cantidad Vendida </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="pointer" >
                        {{element.cantidadVendida}} </mat-cell>
                </ng-container>

                <!-- Nombre Column -->
                <ng-container matColumnDef="nombre">
                    <mat-header-cell mat-sort-header *matHeaderCellDef> Nombre </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="pointer" >
                        {{element.nombre | titlecase}} </mat-cell>
                </ng-container>

                

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

            </mat-table>
            <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons aria-label="etiqueta">
            </mat-paginator>
        </div>
        <!-- </div> -->
    </mat-sidenav-content>
</mat-sidenav-container>