.backAzul {
  background-color: rgb(168, 157, 235);
}

.backVerde {
  background-color: lightgreen;
}

.backAmarillo {
  background-color: rgb(232, 248, 141);
}

.backRojo {
  background-color: lightcoral;
}
