<div class="raiz">
    <div class="nulo" *ngIf="vcategoria === null">
        <h1 class="titulocatalogo">¿QUE QUERES COMER HOY?</h1>
        <div class="container">
            <div class="row" >
                <div class="col-sm-4" *ngFor="let categoria of categorias">
                    <a (click)="elegirCategoria(categoria.nombre)"><img class="imagencategoria" src="../burrito.png" alt="categoria"></a>
                    <h2 id="categorii">{{categoria.nombre}}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="seleccion" *ngIf="vcategoria != null">
        <div class="dou">
            <div class="row">
                <div class="col-sm-3 categoriesmobile">
                    <p class="botonesresponsive">
                        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample">
                          Categorias
                        </a>
                        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Carrito
                          </a>
                      </p>
                      <div class="collapse" id="collapseExample1">
                        <div class="card card-body">
                            <div class="columnauno">
                                <button type="button" class="btn btn-primary" (click)="volverANulo()"><h4>< Volver</h4></button>
                                <h1 class="titulocategoria">Categorias</h1>
                                <hr>
                                <h3 *ngFor="let categoria of categorias"> 
                                    <a class="categorianame" (click)="elegirCategoria(categoria.nombre)">
                                        {{categoria.nombre}}
                                    </a>    
                                </h3>
                                <h3>
                                    <a class="categorianame" (click)="getBebidas()" >
                                        Bebidas
                                    </a>
                                </h3>
                            </div>
                        </div>
                      </div>
                      <div class="collapse" id="collapseExample2">
                        <div class="card card-body">
                            <div>
                                <h1>Carrito</h1>
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                    <h5 *ngFor="let detalle of carritoFinal" class="card-title">{{detalle.plato.nombre}} ${{detalle.plato.precioVenta}} Cantidad: {{detalle.cantidad}} <a (click)="eliminarItem(detalle)"  style="color: orangered;"><strong>X</strong></a></h5>
                                    <hr>
                                    <h5>Bebidas</h5>
                                    <h5 *ngFor="let detalle of carritoBebidas">{{detalle.insumo.nombre}} ${{detalle.insumo.precioVenta}} Cantidad: {{detalle.cantidad}} <a (click)="eliminarItem(detalle)"  style="color: orangered;"><strong>X</strong></a></h5>
                                    <h5 class="totalpedido">Total: ${{total}}</h5>
                                    <a (click)="enviarPedido()" class="btn btn-primary">Continuar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 categories" >
                    <div class="columnauno">
                        <button type="button" class="btn btn-primary" (click)="volverANulo()"><h4>< Volver</h4></button>
                        <h1 class="titulocategoria">Categorias</h1>
                        <hr>
                        <h3 *ngFor="let categoria of categorias"> 
                            <a class="categorianame" (click)="elegirCategoria(categoria.nombre)">
                                {{categoria.nombre}}
                            </a>    
                        </h3>
                        <h3>
                            <a class="categorianame" (click)="getBebidas()" >
                                Bebidas
                            </a>
                        </h3>
                    </div>
                </div>
                <div class="col-sm-6" >
                    <div class="plato" *ngIf="seleccionBebidas == false else esBebida">
                        <div class="card" *ngFor="let plato of platos">
                            <div class="card-body">
                                <img class="imagenplato" src="../burrito.png" alt="plato"/>
                              <h4 class="card-title">{{plato.nombre}}</h4>
                              <p class="card-text">${{plato.precioVenta}}</p>
                              <div class="botones">
                                <a id="detalleboton" class="btn btn-primary" data-toggle="modal" data-target="#modalDetalle" (click)="verDetalle(plato)">Detalles</a>
                                <a class="btn btn-primary" (click)="agregarAlPedido(plato)">Añadir</a>
                              </div>
                            </div>
                          </div>    
                    </div>
                    <ng-template #esBebida>
                        <div class="plato" >
                            <div class="card" *ngFor="let bebida of gaseosas">
                                <div class="card-body">
                                    <img class="imagenplato" src="../burrito.png" alt="plato"/>
                                  <h4 class="card-title">{{bebida.nombre}}</h4>
                                  <p class="card-text">${{bebida.precioVenta}}</p>
                                  <div class="botones">
                                    <a class="btn btn-primary" (click)="agregarGaseosa(bebida)">Añadir</a>
                                  </div>
                                </div>
                              </div>    
                        </div>
                    </ng-template>
                    
                </div>
                <div class="col-sm-3 cart">
                    <h1>Carrito</h1>
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 *ngFor="let detalle of carritoFinal" class="card-title">{{detalle.plato.nombre}} ${{detalle.plato.precioVenta}} Cantidad: {{detalle.cantidad}} <a (click)="eliminarItem(detalle)"  style="color: orangered;"><strong>X</strong></a></h5>
                          <hr>
                          <h5>Bebidas</h5>
                          <h5 *ngFor="let detalle of carritoBebidas">{{detalle.insumo.nombre}} ${{detalle.insumo.precioVenta}} Cantidad: {{detalle.cantidad}} <a (click)="eliminarItem(detalle)"  style="color: orangered;"><strong>X</strong></a></h5>
                          <h5 class="totalpedido">Total: ${{total}}</h5>
                          <a (click)="enviarPedido()" class="btn btn-primary">Continuar</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-detalle-plato [platoDetalle]="platoDetalle"></app-detalle-plato>