<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>El Buen Sabor</title>
</head>

<body>
    <!--Navbar-->
    <header>
        <nav>
            <div class="row nav">
                <img class="logo" src="assets/images/logotipoimg.png" alt="logotipo">
                <p id="logotipo"><a class="logotipo_fuente" href="#">El Buen Sabor</a></p>
                <ul class="opciones" style="margin-left: 30%; margin-top: 3%;">
                    <li><a data-toggle="modal" data-target="#modalRegistro">Registro</a>
                    </li>
                    <li><a data-toggle="modal" data-target="#modalIngresar"> Ingresa </a></li>
                    <li><a href="menu"> Menú </a></li>
                </ul>
             </div>
         </nav>
    </header>
    <!--Home-->
    <section class="home">
       <div class="row">
        <h1>
            EL BUEN SABOR
        </h1>
        <p class="descripcion">
            Nos caracteriza la calidad, el buen sabor y la excelencia. Mirá nuestro menu, elegí desde
            la comodidad de tu casa, y en cuestion de un momento uno de nuestros delivery estará entregando
            el pedido en tu casa.
        </p>
        <form action="POST" action="#" class="search-form">
            <div class="row">
                <div class="col span-1-of-5 divdireccion">
                    <label for="menu">Menú</label>
                </div>
                <div class="col span-3-of-5">
                    <input type="text" name="menu" id="menu" placeholder="Por ejemplo: Pizza, Hamburguesas, Lomos, Bebidas..." required>
                </div>             
                <div class="col span-1-of-5">
                    <input type="submit" value="Buscar">
                </div>
            </div>
        </form>
            <div class="row steps" style="text-align: center;">
                    <div class="col span-1-of-5">
                            <img class="imagenPaso" src="assets/images/adress.png" alt="iconoDireccion"> 
                            <h6>Ingresá tu dirección</h6>
                    </div>
                    <div class="col span-1-of-5">
                            <img class="imagenPaso" src="assets/images/burguer.png" alt="iconoComida"> 
                            <h6>Elegí tu comida</h6>
                        
                    </div>
                    <div class="col span-2-of-5">
                            <img class="imagenPaso" src="assets/images/creditcard.png" alt="iconoPago"> 
                            <h6>Selecciona medio de pago y espera tu comida</h6>
                    </div>
            </div>
        </div>
    </section>
    <!--Footer-->
    <footer>
        <div class="row">
            <div class="col span-1-of-2">
                <ul class="footer-nav">
                    <li><a href="">Sobre Nosotros</a> </li>
                    <!-- <li><a href="">Privacidad</a> </li>
                    <li><a href="">Empleos</a> </li> -->
                </ul>
            </div>
            <div class="col span-1-of-2">
                <ul class="social-links">
                    <li><a href=""><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                    <li><a href=""><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <p style="text-align: left !important;">Sitio Web creado por DAHF Group (Astorga, Gutierrez, Rocha, Valenti). Todos los derechos reservados 2018-2020</p>
        </div>
    </footer>
</body>
</html>
<app-modalregistro></app-modalregistro>
<app-modalingresar></app-modalingresar>