<!--Home Page-->
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>El Buen Sabor</title>
    <!--Implementacion de CSS-->
    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/grid.css">
    <link rel="stylesheet" href="assets/fontawesome/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="assets/css/estilo.css">
</head>

<body>
    <!--Navbar-->
    <header>
        <nav>
            <div class="row">
                <img class="logo" src="assets/images/logotipoimg.png" alt="logotipo">
                <p id="logotipo"><a class="logotipo_fuente" href="#">El Buen Sabor</a></p>
                <ul class="opciones">
                    <li><a href=""> Registrate </a></li>
                    <li><a href=""> Ingresa </a></li>
                    <li><a href=""> Contacto </a></li>
                </ul>
             </div>
         </nav>
    </header>
    <!--Home-->
    <section class="home">
       <div class="row">
        <h1>
            EL BUEN SABOR
        </h1>
        <p class="descripcion">
            Nos caracteriza la calidad, el buen sabor y la excelencia. Mirá nuestro menu, elegí desde
            la comodidad de tu casa, y en cuestion de un momento uno de nuestros delivery estará entregando
            el pedido en tu casa.
        </p>
        <form action="POST" action="#" class="search-form">
            <div class="row">
                <div class="col span-1-of-5">
                    <label for="direccion">Direccion:</label>
                </div>
                <div class="col span-3-of-5">
                    <input type="text" name="direccion" id="direccion" placeholder="Por ejemplo: San martin 2020, Mendoza" required>
                </div>             
                <div class="col span-1-of-5">
                    <input type="submit" value="Buscar">
                </div>
            </div>
        </form>
        <div class="pasos">
            <div class="row">
                <ul class="steps">
                    <li><img class="imagenPaso" src="assets/images/adress.png" alt="iconoDireccion"> Ingresá tu dirección</li>
                    <li><img class="imagenPaso" src="assets/images/burguer.png" alt="iconoComida"> Elegí tu comida</li>
                    <li><img class="imagenPaso" src="assets/images/creditcard.png" alt="iconoPago"> Selecciona medio de pago y espera tu comida</li>
                </ul>
            </div>
        </div>
       </div>
    </section>
    <!--Footer-->
    <footer>
        <div class="row">
            <div class="col span-1-of-2">
                <ul class="footer-nav">
                    <li><a href="">Sobre Nosotros</a> </li>
                    <li><a href="">Privacidad</a> </li>
                    <li><a href="">Empleos</a> </li>
                </ul>
            </div>
            <div class="col span-1-of-2">
                <ul class="social-links">
                    <li><a href=""><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href=""><i class="fab fa-twitter"></i></a></li>
                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <p>Sitio Web creado por DAHF Group. Todos los derechos reservados 2018-2020</p>
            <p>Astorga - Gutierrez - Rocha - Valenti</p>
        </div>
    </footer>
</body>

</html>