<div class="card">
    <div class="card-body">
        <h3 class="card-title">Pedido {{comanda.id}}</h3>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Producto</th>
                </tr>
            </thead>
            <tbody *ngFor="let producto of productos">
                <tr>
                    <td>
                        {{cantidad}}
                    </td>
                    <td>
                        {{producto.nombre}}
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="alert alert-danger" role="alert">
            {{tiempoRestante}} minutos
        </div>
    </div>
</div>