<!--<html lang="en">

<body class="letra" id="fact">
    <h1 class="alert alert-info">Factura correspondiente a su pedido número: {}</h1>
    <table class="table letra">
        <thead>
            <tr>
                <th hidden scope="col">#</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Precio Unitario</th>
                <th scope="col">Precio Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th hidden scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td>@twitter</td>
            </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-primary btn-block letra" (click)="downloadFactura()">+ Agregar
        Direccion</button>
</body>

</html>-->