<div class="home">
    <div class="titulo">
       <h1 class="title"> EL BUEN SABOR </h1>
    </div>
    <div class="row">
        <p class="descripcion">
            Nos caracteriza la calidad, el buen sabor y la excelencia. Mirá nuestro menu, elegí desde
            la comodidad de tu casa, y en cuestion de un momento uno de nuestros delivery estará entregando
            el pedido en tu casa.
        </p>
        <p class="descripcion">
            Horarios de Atención: Lunes a Domingos 20:00 a 00:00. Sabados y Domingos 11:00 a 15:00
        </p>
    </div>
    <div class="row">
        <ul class="steps">
            <li><img class="imagenPaso" src="../../assets/imagenes/adress.png" alt="iconoDireccion"> Ingresá o Registrate con tus datos</li>
            <li><img class="imagenPaso" src="../../assets/imagenes/burguer.png" alt="iconoComida"> Elegí tu comida</li>
            <li><img class="imagenPaso" src="../../assets/imagenes/creditcard.png" alt="iconoPago"> Selecciona medio de pago y espera tu comida</li>
        </ul>
    </div>
</div>
<div class="medium">
    <div class="container">
        <div class="row" id="rowtitle">
            <h1 class="platos">ALGUNOS DE NUESTROS MEJORES PLATOS</h1>
        </div>
        <div class="row">
            
                <div class="form-group">
                    <h5><em>Selecciona tu foto de perfil</em></h5>
                    <input type="file" accept=".png, .jpg" (change)="onUpload($event)">
                </div>
                <div>
                    <input #imagenPlato type="text" [value]="urlImage | async" id="urlImagen" >
                </div>
                <div>
                    <button type="button" class="btn btn-primary" (click)="verImagen()"> Ver Url </button>
                </div>
           
        </div>
        <div class="row">
            <div class="col-sm" *ngFor="let plato of platos">
                <img src="../burrito.png" alt="plato" class="plate">
                <h2>{{plato.nombre}}</h2>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <footer>
        <div class="container">
            <div class="row">
                <p>EL BUEN SABOR - LABORATORIO 4 - UNIVERSIDAD TECNOLOGICA NACIONAL</p>
            </div>
            <div class="row">
                <p>Sitio web creado por Astorga, Gutierrez Caligaris, Rocha y Valenti. 2018-2020 </p>
            </div>
        </div>
    </footer>
</div>