<div class="modal" id="modalIngresar" data-backdrop="static" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Ingresar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <a class="btn btn-social btn-google google">
          <span class="fa fa-google"></span> Ingresar con Google
        </a>
        <a class="btn btn-social btn-microsoft email">
          <span class="fa fa-envelope"></span> Ingresar con Google
        </a>
        <br>
        <div class="modal-footer">
          <a data-dismiss="modal" class="link">¿No tienes cuenta? Registrate</a>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>